<?xml version="1.0" encoding="utf-8"?>
<manifest package="edu.uml.peanutnative"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

</manifest>
